/*
    Document   : selective_content_block
    Created on : 21/12/2012, 08:22:39 PM
    Author     : waldemar Krumrick - Darwoft
    Description:
        Purpose of the stylesheet follows.
*/


root {
  display: block;
}

#selective_content_block_loading {
  height: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.selective-content-block-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.selective_content_block-title {
  font-size: 16pt;
  font-weight: bold;
}

.selective_content_block-title-link {

}

.selective_content_block-text {
  font-style: italic;
}

.selective_content_block-filters {
  cursor: pointer;
  color: blue;
  float:left;
}
.selective_content_block-separator {
  float: left;
}

.selective_content_block-bottom-link {
  text-align: right;
}

.selective_content_block-content-title {
  font-weight: bold;
  text-align: left;
  font-size: 10pt;
  width: 100%;
  display: inline-block;
}

.selective_content_block-content-body {
  font-size: 8pt;
  font-style: italic;
  width: 100%;
  display: inline-block;
}

#selective_content_block-body-find {
  display:inline-block;
  width: 100%;
}
